

h3{
    font-size: small;
    font-weight: 400;
}

article{
    width: 70%;
    border-top: 1px solid rgba(255, 255, 255, 0.397);
    border-bottom: 1px solid rgba(255, 255, 255, 0.397);

    margin: auto;

}

.informacion-post{

    border-right: none;
    position: relative;
    display: flex;
    color: white;
    height: 50px;
    flex-direction: row;
    width: 100%;
    border-right: none;
    border-left: none;

}

.informacion-post img{
    position: absolute;
    border: 1px solid grey;
    height: 20px;
    width: 20px;
    border-radius: 50%;
}

.informacion-post div{
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 8px;
    padding-left: 2px;
    padding-right: 2px;
}

.informacion-post div:first-child {
    margin-left: 1%;
    width: 50px; /* Ancho para el primer div */
}


.contenido h2{
    color: white;
    padding-right: 30px;
    padding-left: 30px;
    word-spacing: 5px;
    margin-bottom: 3%;
    margin-top: 0%;
    font-weight: bold;
    font-size: large;
}

.articleMobile{
    width: 100%;
}