nav{
    height: 40px;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;

}

#carousel{
    color: aliceblue;
    width: 100%;
    text-align: center;
}