nav{
    height: 40px;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom:  #d9dcdd85 solid 1px;
    z-index: 10;
}

#carousel{
    color: #d9dcdd85;
    font-weight: bold;
    width: 80%;
    text-align: center;
}

.carouselMobile{
    margin-left: 5%;
    margin-right: 5%;
}